.content {
    position: relative;
    top: 113px;
    .chat--section {
        width: auto;
        height: 250px;
        position: fixed;
        top: calc(100vh - 250px);
        right: 160px;
        display: flex;
        flex-direction: row-reverse;
    }
    .chat--tab {
        width: 200px;
        height: 100%;
        background: transparent;
        border: 0;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        &__header{
            width: 100%;
            height: 25px;
            background: #F5F6F7;
            padding: 5px 10px;
            font-size : 12px;
            .active--btn {
                background: rgb(66, 183, 42);
                border-radius: 50%;
                display: inline-block;
                height: 6px;
                margin-left: 4px;
                width: 6px;
            }
            .hide--btn  {
                float: right;
                cursor: pointer;
                font-weight: bold;
            }
        }
        &__content{
            width:100%;
            height: calc(100% - 65px);
            background: #ffff;
        }
        &__msg {
            width: 100%;
            height: 40px;
            padding: 3px;
            background: #ffff;
            & input {
                outline: none;
                margin-top: 5px;
                width: 80%;
                height: 25px;
                border: 1px solid #bec3c9;
                border-radius: 15px;
                font-size: 11px;
                padding: 3px 5px;
            }
        }
        
    
}
    .hide{
        display: none;
    }
}
.aside__right {
    border-left: 1px solid #CCCCCC;
    width: 150px;
    height: calc(100vh - 113px);
    position: fixed;
    top: 113px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__search-box {
        width: 100%;
        height: 30px;
        display: flex;
        .search--icon {
            width: 20px;
            height: 30px;
            padding: 8px 3px;
            background: #F5F6F7;
            font-size: 12px;
            color: #BEC3C8;
        }
        .search-box__input {
            font-size: 12px;
            border: none;
            background: #F5F6F7;
            outline: none;
        }
        
    }
    .friend--list {
        width: 100%;
        max-height: calc(100vh - 143px);
        overflow-y: auto;
        .list__item {
            width: 100%;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
             padding: 0 8px;
        }
        .list__item:hover {
            background-color: #DDDFE2;
        }
        .active--btn {
            background: rgb(66, 183, 42);
            border-radius: 50%;
            display: inline-block;
            height: 6px;
            margin-left: 4px;
            width: 6px;
            margin-top: 13px;
        }
    }
}

