.content__main {
    width: 820px;
    height: 100vh;
    margin-right: 18px;
    position: relative;
    .cover--section {
        width: 100%;
        height: auto;
        .cover {
            width: 100%;
            height: 306px;
            background: #273e6a;
            font-size: 60px;
            color: #4d6593;
            text-align: center;
            line-height: 300px;
            cursor: pointer;
        }
        .remote-cover {
            width: 100%;
            height: 56px;
            background: #ffffff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 15px 13px 13px 13px;
            &__left {
                height: 28px;
                width: auto;
                border: 1px solid #D9DDE0;
                background: #f5f6f7;
                border-radius: 3px;
                .left__list {
                    display:flex;
                    
                    .list__item {
                        height: 27px;
                        padding-right: 9px;
                        font-size: 11px;
                        padding: 5px 8px;
                        color: #7f7f7f;
                        border-right: 1px solid #D9DDE0;
                        & i {
                            margin-right: 3px;
                        }
                        
                            
                        }
                        .last-child {
                           border-right: none;
                           letter-spacing: 1px;
                           font-weight: bold;
                        }
                
                }
                
            }
            &__left:hover {
                cursor: pointer;
            }
            &__right {
                width: 289px;
                height: 28px;
                background: #4080ff;
                color: #ffff;
                display: flex;
                font-size: 11px;
                padding: 8px 110px 9px 101px;
                & i {
                    margin-left: 3px;
                }
            }
            &__right:hover {
                cursor: pointer;
            }

    
        }
    }
}

.login__container {
    font-family: myFont;

    &--left {
        width: 640px;
        height: 100px;
        

        &__text{
            margin-top: 50px;
            width: 400px;
            height: 138px;
            line-height: 40px;
            padding: 30px 0 24px;
            font-size: 26px;
            font-weight: bold;
            color:#333333;
        }

       &__item {
           width: 565px;
           height: 66px;
           margin-bottom: 15px;
           display: flex;
           align-items: center;
       }

       .login__conainer--left--bold {
           font-weight: bold;
           margin: 0 10px;
           font-size: 17px;
       }

       .login__container--left--text {
           color: #666;
           font-size: 17px;
       }
    }

    &--right {
      width: 399px;
      height: 100px;
      

      &__title {
          margin-top: 20px;
          font-weight: bold;
          font-size: 36px;
          color: #333333;
      }

      &__text {
          font-size: 19px;
          margin-bottom: 20px;
          margin-top: 5px;
      }

      .input-name {
          width: 194px;
          height: 39px;
          padding: 8px 10px;
          border: 1px solid #bdc7d8;
          border-radius: 5px;
          margin-bottom: 10px;
          font-size: 20px;
      }

      .input-info {
         width: 399px;
         height: 39px;
         padding: 8px 10px;
         border: 1px solid #bdc7d8;
         border-radius: 5px;
         margin-bottom: 15px;
         font-size: 20px;
      }

      ::placeholder {
          font-size: 20px;
      }

      .select {
        width: 399px;
        height: 30px;
    

      .select__dropdown {
          width: 71px;
          height: 30px;
          padding: 5px;
          border: 1px solid #bdc7d8;
          font-size: 13px;
      }

      &__text {
         font-size: 12px;
         margin-left: 3px;
         text-decoration: none;
         color: #365899;
         cursor: pointer;
       }

      &__text:hover {
          text-decoration: underline;
      }

    }

    .select-gender{
        width: 399px;
        height: 30px;
        margin-top: 10px;

        &__opt {
            color: #1d2129;
            font-size: 21px;
            margin-right: 5px;
        }
        }
    }

    .terms {
        margin-top: 10px;
        width: 316px;
        font-size: 12px;
        color: #777777;
        margin-left: 3pxx;
        cursor: pointer;
    }

    .signup-button {
        width: 194px;
        height: 39px;
        margin: 10px 0;
        padding: 7px 20px;
        border: 1px solid;
        border-radius: 5px;
        background: linear-gradient(#67ae55, #578843);
        background-color: #69a74e;
        box-shadow: inset 0 1px 1px #a4e388;
        border-color: #3b6e22 #3b6e22 #2c5115;
        font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
        font-weight: bold !important;
        color: #fff;
        font-size: 19px;
    }

    .create-page {
        width: 399px;
        height: 40px;
        border-top: 1px solid #dddfe2;
        color: #666;
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px;
        padding-top: 15px;

        &__link {
            color: #365899;
            cursor: pointer;
            text-decoration: none;
            font-size: 13px;
            font-weight: bold;
        }
    }

}


.error{
    width: 400px;
    height: 100px;
    background: red;
    position: fixed;
    top: 40%;
    left: 30%;
    background: #fff;
    border: 3px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
    // transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
    
    


    .error-header {
    width: 100%;
    height: 25px;
    background: #3b5998;
    color: #fff;
    padding: 5px;
}

    #errors {
    width: 100%;
    padding: 10px;
}
    &-footer {
        width: 100%;
        height: 25px;
        background: #e9ebee;
        position: absolute;
        top:70px;
    }

    &-close {
        width: 50px;
        height: 20px;
        background: #3b5998;
        border: none;
        margin-top: 3px;
        margin-right: 10px;
        float: right;
        color: #fff;
    }

}

.postblock {
    width: 500px;
    height: auto;
    background: white;
    margin-top: 15px;
    padding: 5px;
    border-radius: 3px;
 }
 .authorblock{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 .postauthor {
    font-size: 16px;
    display: inline-block;
    margin-top: 0;
    color: #365899;
    cursor: pointer;
    font-weight: bold;
    width: 400px;
    padding-top: 5px;
    :hover {
        text-decoration: underline;
    }
 }
 .pic {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    margin-right: 10px;
 }
 .dateBlock {
    font-size: 12px;
    color: #616770;
    font-weight: normal;
 }
 .postContent {
    margin-top: 10px;
 }
 .reactSection {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #616770;
    font-weight: normal;
 }
 .prof {
    width: 180px;
    height: 180px;
 }
 .activeIcon {
    width: 17px;
    height: 15px;
 }
 .foto {
    width:24px;
    height: 24px;
    border-radius: 100%;
 }
 #logout {
    width: 80px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #4267b2;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
 }
 #post {
    width: 80px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #4267b2;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
 }
 
 

