.content__left {
    margin-left: 25px;
    width: 186px;
    height: auto;
    &__personal--data {
        margin-top: 15px;
        .profile--photo {
            width: 179px;
            height: 180px;
            background: lightgoldenrodyellow;
            margin-bottom: 15px;
        }
        .name {
            font-size: 21px;
            color:#000000;
            display: block;
            margin-bottom: 3px;
        }
        .gmail {
            font-size: 14px;
            color:#9da1a8;
            font-weight: bold;
        }
    }
    &__list {
        margin-top: 10px;
        width: 100%;
        .list__item {
            width: 100%;
            height: 30px;
            padding: 9px;
            font-size: 12px;
            color:#1d2129;
        }
        .list__item:hover {
            font-weight: bold;
            background: #f5f6f7;
        }
        .list__item__button {
            margin-top: 10px;
            margin-left: 5px;
            font-size: 10px;
            width:70px;
            height:28px;
            padding: 9px 14px;
            background: #4267b2;
            color: #ffff;
            border-radius: 3px;
        }
        .list__item__button {
            background: #4267b2;
            cursor: pointer;
        }
    }
}