.condent__main__feed {
    display: flex;
    justify-content: space-between;
    .rating--chart {
        border-radius: 5px;
        width: 310px;
        height: 60px;
        background: #ffffff;
        margin-top: 12px;
        border: 1px solid #D9DDE0;
        display: flex;
        align-items: center;
        padding-left: 13px;
        & p {
            margin-left: 5px;
            font-weight: bold;
            font-size: 13px;
        }
        & img {
            width: 34px;
            height: 34px;
        }
        
    }
    .story--space {
        border-radius: 5px;
        margin-top: 12px; 
        border: 1px solid #D9DDE0;
        width: 310px;
        height: 235px;
        background: #ffffff;
        
        .story {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 150px;
            width: 100%;
            background: #273e6a;
        }
        & p {
            font-size: 17px;
            margin : 15px 0 0 15px;
        }
        & p:last-child {
            font-size: 14px;
            color:#4267b2;
        }
    }
    .community--space {
        border-radius: 5px;
        width: 310px;
        height: 107px;
        background: #ffffff;
        margin-top: 12px;
        padding: 13px 15px;
        &__header {
            h3 {
                font-size: 17px;
                font-weight: bold;
            }
            span {
                font-size: 12px;
                color:#4267b2;
            }
        }
        & p{
            margin-top: 15px;
            font-size: 13px;
            & i {
                color: #90949c;
            }
        }
    }
}