.header {
    width: 100%;
    height: 62px;
    font-size: 10px;
    background: $header-background;
    padding-top: 1.1em;
    position: fixed;
    z-index: 1;
    &__left {
        display: flex;
        justify-content: space-around;
        padding: 8px 0 3px 0;
        &__input {
            width: 400px;
            height: 24px;
            outline: none;
            border: none;
            padding: 3px 5px;
        }
        & .search--icon {
            width: 46px;
            height: 24px;
            background:#f5f6f7;
            font-size: 13px;
            padding: 5px 16px 6px 17px;
            color: #4e5665;
        }
        &__logo  {
            padding: 0 13px 0 25px;
            & img {
            width: 24px;
            height: 24px;
            }
        }
    }
    &__right {
        padding: 8px 25px 3px 0;
        &__list {
            display: flex;
            .list__item {
                border-right: 1px solid #3B5DA0;
                padding: 2px;
                display:flex;
                .user-photo {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background: lightgoldenrodyellow;
                }
                .header__span {
                    margin: 8px 8px 6px 8px;
                    font-size: 12px;
                    color: #ffff;
                }
                & i{
                    margin: 6px 6px 6px 6px;
                    color:#1a2947;
                    font-size: 16px;
                }
                .dropdown--icon {
                    margin-top: 2px;
                 }
            }
            .list__item:last-child {
                border: none;
            }
            .list__item:hover {
                background: rgba(0, 0, 0, .1);
                border-radius: 2px;
            }
        }
    }
}


.wrapper {
    width: 1056px;
    margin: 0 auto;
}
.f-s-b {
    display: flex;
    justify-content: space-between;
}


.login__header {
    width: 100%;
    height: 82px;
    background: #3b5998;
    

    &__logo {
        font-family: myFont;
        margin-top: 20px;
        color: #fff;
        font-weight: bold;
        font-size: 40px;
    }

    &--right {
        width: 364px;
        margin-top: 20px;
    }

    .login__input {
        width: 150px;
        height: 23px;
        border: 1px solid #1d2a5b;
        padding-left: 1px;
        outline: none;
        margin-top: 2px;
        
    }

    .input-title {
        color: #fff;
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 4px;
    }

    .input-text {
        color: #9cb4d8;
        font-size: 12px;
        margin-top: 4px;
        font-weight: normal;
        cursor: pointer;
    }

    .input-text:hover {
        text-decoration: underline;

    }

    .login__button {
        margin-top: 16px;
        width: 50px;
        height: 24px;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        background: #4267b2;
        border: 1px solid #29487d;
    }


}

