.sub-header {
    width: 100%;
    height: 51px;
    background: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 62px;
    z-index: 1;
    &__left {
        height: 51px;
    }
    &__right {
        height: 51px; 
        padding-right: 25px; 
    }
    &__list {
        display: flex;
        padding-bottom: 3px;
        border: 2px solid transparent;
        .list__item {
            margin-left: 41px;
            height: 51px;
            line-height: 50px;

            & a {
                text-decoration: none;
                color: #4b4f56;
                & i {
                    font-size: 12px;
                    line-height: 40px;
                }
            }
            &:hover {
                border-bottom: 2px solid $icon-color;
            }
        }
        
    }

}