.update-status--section {
    margin-top: 12px;
    width: 502px;
    height: 157px;
    background: #ffffff;
    border: 1px solid #D9DDE0;
    padding: 5px 7px;
    border-radius: 5px;
    &__header {
        height: 30px;
        border-bottom: 1px solid #D9DDE0;
    }
    &__list {
        display: flex;
        .list__item {
            color: #3d7de6;
            font-size: 11px;
            font-weight: bold;
            padding: 5px 10px;
            border-right: 1px solid #D9DDE0;
            & i {
                margin-right: 2px;
            }
            
        }
        .list__item:first-child {
            border: none;
            color: #606770;
        }
        .list__item:last-child {
            border: none;
        }
    }
    .post--space {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D9DDE0;
        .user--photo {
            width: 40px;
            height: 40px;
            margin-left: 5px;
            border-radius: 50%;
            margin-right: 3px;
        }
        & i {
            margin-left: 3px;
        }
        .post--input {
            width: calc(100% - 80px);
            height: 50px;
            border: none;
            outline: none;
            margin-left: 10px;
            font-size: 14px;
        }
        
    }
    .activity--space {
        width: 100%;
        height:49px;
        &__list {
            display: flex;
            height: 100%;
            align-items: center;
            .list__item {
                display: flex;
                max-width: 138px;
                height: 32px;
                background: #f5f6f7;
                border-radius: 18px;
                padding: 10px 13px 9px 10px;
                padding: 0 10px;
                font-size: 13px;
                font-weight: bold;
                color: #4b4f56;
                margin-right: 6px;
                & img {
                    padding: 5px 0;
                }
                & p {
                   margin: 10px 0 0 5px;
                }
        
            }
            .list__item:last-child{
                padding: 7px 10px;
                letter-spacing: 1px;
                
            }
        }
    }
}

.post--remote {
    & ul {
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: 40px;
        
        border-top: 1px solid #dadde1;
        & .list__item {
            padding: 2px;
            width: 33.3%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 13px;
            color: #606770;
            font-weight: bold;
            
        }
        & .list__item:hover {
            background-color: rgba(29, 33, 41, .04);
            border-radius: 2px;
            cursor: pointer;
        }
    }
}