/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: MyFont;
  src: url(../font/SFUIText-Regular.ttf);
}

body {
  font-family: MyFont;
}

body {
  background: #e9ebee;
}

.header {
  width: 100%;
  height: 62px;
  font-size: 10px;
  background: #4267b2;
  padding-top: 1.1em;
  position: fixed;
  z-index: 1;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 0 3px 0;
}

.header__left__input {
  width: 400px;
  height: 24px;
  outline: none;
  border: none;
  padding: 3px 5px;
}

.header__left .search--icon {
  width: 46px;
  height: 24px;
  background: #f5f6f7;
  font-size: 13px;
  padding: 5px 16px 6px 17px;
  color: #4e5665;
}

.header__left__logo {
  padding: 0 13px 0 25px;
}

.header__left__logo img {
  width: 24px;
  height: 24px;
}

.header__right {
  padding: 8px 25px 3px 0;
}

.header__right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right__list .list__item {
  border-right: 1px solid #3B5DA0;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right__list .list__item .user-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: lightgoldenrodyellow;
}

.header__right__list .list__item .header__span {
  margin: 8px 8px 6px 8px;
  font-size: 12px;
  color: #ffff;
}

.header__right__list .list__item i {
  margin: 6px 6px 6px 6px;
  color: #1a2947;
  font-size: 16px;
}

.header__right__list .list__item .dropdown--icon {
  margin-top: 2px;
}

.header__right__list .list__item:last-child {
  border: none;
}

.header__right__list .list__item:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.wrapper {
  width: 1056px;
  margin: 0 auto;
}

.f-s-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__header {
  width: 100%;
  height: 82px;
  background: #3b5998;
}

.login__header__logo {
  font-family: myFont;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.login__header--right {
  width: 364px;
  margin-top: 20px;
}

.login__header .login__input {
  width: 150px;
  height: 23px;
  border: 1px solid #1d2a5b;
  padding-left: 1px;
  outline: none;
  margin-top: 2px;
}

.login__header .input-title {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 4px;
}

.login__header .input-text {
  color: #9cb4d8;
  font-size: 12px;
  margin-top: 4px;
  font-weight: normal;
  cursor: pointer;
}

.login__header .input-text:hover {
  text-decoration: underline;
}

.login__header .login__button {
  margin-top: 16px;
  width: 50px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  background: #4267b2;
  border: 1px solid #29487d;
}

.sub-header {
  width: 100%;
  height: 51px;
  background: #ffffff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 62px;
  z-index: 1;
}

.sub-header__left {
  height: 51px;
}

.sub-header__right {
  height: 51px;
  padding-right: 25px;
}

.sub-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
  border: 2px solid transparent;
}

.sub-header__list .list__item {
  margin-left: 41px;
  height: 51px;
  line-height: 50px;
}

.sub-header__list .list__item a {
  text-decoration: none;
  color: #4b4f56;
}

.sub-header__list .list__item a i {
  font-size: 12px;
  line-height: 40px;
}

.sub-header__list .list__item:hover {
  border-bottom: 2px solid #203256;
}

.content__left {
  margin-left: 25px;
  width: 186px;
  height: auto;
}

.content__left__personal--data {
  margin-top: 15px;
}

.content__left__personal--data .profile--photo {
  width: 179px;
  height: 180px;
  background: lightgoldenrodyellow;
  margin-bottom: 15px;
}

.content__left__personal--data .name {
  font-size: 21px;
  color: #000000;
  display: block;
  margin-bottom: 3px;
}

.content__left__personal--data .gmail {
  font-size: 14px;
  color: #9da1a8;
  font-weight: bold;
}

.content__left__list {
  margin-top: 10px;
  width: 100%;
}

.content__left__list .list__item {
  width: 100%;
  height: 30px;
  padding: 9px;
  font-size: 12px;
  color: #1d2129;
}

.content__left__list .list__item:hover {
  font-weight: bold;
  background: #f5f6f7;
}

.content__left__list .list__item__button {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 10px;
  width: 70px;
  height: 28px;
  padding: 9px 14px;
  background: #4267b2;
  color: #ffff;
  border-radius: 3px;
}

.content__left__list .list__item__button {
  background: #4267b2;
  cursor: pointer;
}

.content__main {
  width: 820px;
  height: 100vh;
  margin-right: 18px;
  position: relative;
}

.content__main .cover--section {
  width: 100%;
  height: auto;
}

.content__main .cover--section .cover {
  width: 100%;
  height: 306px;
  background: #273e6a;
  font-size: 60px;
  color: #4d6593;
  text-align: center;
  line-height: 300px;
  cursor: pointer;
}

.content__main .cover--section .remote-cover {
  width: 100%;
  height: 56px;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 13px 13px 13px;
}

.content__main .cover--section .remote-cover__left {
  height: 28px;
  width: auto;
  border: 1px solid #D9DDE0;
  background: #f5f6f7;
  border-radius: 3px;
}

.content__main .cover--section .remote-cover__left .left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__main .cover--section .remote-cover__left .left__list .list__item {
  height: 27px;
  padding-right: 9px;
  font-size: 11px;
  padding: 5px 8px;
  color: #7f7f7f;
  border-right: 1px solid #D9DDE0;
}

.content__main .cover--section .remote-cover__left .left__list .list__item i {
  margin-right: 3px;
}

.content__main .cover--section .remote-cover__left .left__list .last-child {
  border-right: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.content__main .cover--section .remote-cover__left:hover {
  cursor: pointer;
}

.content__main .cover--section .remote-cover__right {
  width: 289px;
  height: 28px;
  background: #4080ff;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  padding: 8px 110px 9px 101px;
}

.content__main .cover--section .remote-cover__right i {
  margin-left: 3px;
}

.content__main .cover--section .remote-cover__right:hover {
  cursor: pointer;
}

.login__container {
  font-family: myFont;
}

.login__container--left {
  width: 640px;
  height: 100px;
}

.login__container--left__text {
  margin-top: 50px;
  width: 400px;
  height: 138px;
  line-height: 40px;
  padding: 30px 0 24px;
  font-size: 26px;
  font-weight: bold;
  color: #333333;
}

.login__container--left__item {
  width: 565px;
  height: 66px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__container--left .login__conainer--left--bold {
  font-weight: bold;
  margin: 0 10px;
  font-size: 17px;
}

.login__container--left .login__container--left--text {
  color: #666;
  font-size: 17px;
}

.login__container--right {
  width: 399px;
  height: 100px;
}

.login__container--right__title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
}

.login__container--right__text {
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.login__container--right .input-name {
  width: 194px;
  height: 39px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

.login__container--right .input-info {
  width: 399px;
  height: 39px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 20px;
}

.login__container--right ::-webkit-input-placeholder {
  font-size: 20px;
}

.login__container--right :-ms-input-placeholder {
  font-size: 20px;
}

.login__container--right ::-ms-input-placeholder {
  font-size: 20px;
}

.login__container--right ::placeholder {
  font-size: 20px;
}

.login__container--right .select {
  width: 399px;
  height: 30px;
}

.login__container--right .select .select__dropdown {
  width: 71px;
  height: 30px;
  padding: 5px;
  border: 1px solid #bdc7d8;
  font-size: 13px;
}

.login__container--right .select__text {
  font-size: 12px;
  margin-left: 3px;
  text-decoration: none;
  color: #365899;
  cursor: pointer;
}

.login__container--right .select__text:hover {
  text-decoration: underline;
}

.login__container--right .select-gender {
  width: 399px;
  height: 30px;
  margin-top: 10px;
}

.login__container--right .select-gender__opt {
  color: #1d2129;
  font-size: 21px;
  margin-right: 5px;
}

.login__container .terms {
  margin-top: 10px;
  width: 316px;
  font-size: 12px;
  color: #777777;
  margin-left: 3pxx;
  cursor: pointer;
}

.login__container .signup-button {
  width: 194px;
  height: 39px;
  margin: 10px 0;
  padding: 7px 20px;
  border: 1px solid;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#67ae55), to(#578843));
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
          box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  color: #fff;
  font-size: 19px;
}

.login__container .create-page {
  width: 399px;
  height: 40px;
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

.login__container .create-page__link {
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.error {
  width: 400px;
  height: 100px;
  background: red;
  position: fixed;
  top: 40%;
  left: 30%;
  background: #fff;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.error .error-header {
  width: 100%;
  height: 25px;
  background: #3b5998;
  color: #fff;
  padding: 5px;
}

.error #errors {
  width: 100%;
  padding: 10px;
}

.error-footer {
  width: 100%;
  height: 25px;
  background: #e9ebee;
  position: absolute;
  top: 70px;
}

.error-close {
  width: 50px;
  height: 20px;
  background: #3b5998;
  border: none;
  margin-top: 3px;
  margin-right: 10px;
  float: right;
  color: #fff;
}

.postblock {
  width: 500px;
  height: auto;
  background: white;
  margin-top: 15px;
  padding: 5px;
  border-radius: 3px;
}

.authorblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.postauthor {
  font-size: 16px;
  display: inline-block;
  margin-top: 0;
  color: #365899;
  cursor: pointer;
  font-weight: bold;
  width: 400px;
  padding-top: 5px;
}

.postauthor :hover {
  text-decoration: underline;
}

.pic {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  margin-right: 10px;
}

.dateBlock {
  font-size: 12px;
  color: #616770;
  font-weight: normal;
}

.postContent {
  margin-top: 10px;
}

.reactSection {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #616770;
  font-weight: normal;
}

.prof {
  width: 180px;
  height: 180px;
}

.activeIcon {
  width: 17px;
  height: 15px;
}

.foto {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

#logout {
  width: 80px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  border: none;
  background: #4267b2;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

#post {
  width: 80px;
  height: 30px;
  color: #fff;
  font-weight: bold;
  border: none;
  background: #4267b2;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.update-status--section {
  margin-top: 12px;
  width: 502px;
  height: 157px;
  background: #ffffff;
  border: 1px solid #D9DDE0;
  padding: 5px 7px;
  border-radius: 5px;
}

.update-status--section__header {
  height: 30px;
  border-bottom: 1px solid #D9DDE0;
}

.update-status--section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.update-status--section__list .list__item {
  color: #3d7de6;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 10px;
  border-right: 1px solid #D9DDE0;
}

.update-status--section__list .list__item i {
  margin-right: 2px;
}

.update-status--section__list .list__item:first-child {
  border: none;
  color: #606770;
}

.update-status--section__list .list__item:last-child {
  border: none;
}

.update-status--section .post--space {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D9DDE0;
}

.update-status--section .post--space .user--photo {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 3px;
}

.update-status--section .post--space i {
  margin-left: 3px;
}

.update-status--section .post--space .post--input {
  width: calc(100% - 80px);
  height: 50px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 14px;
}

.update-status--section .activity--space {
  width: 100%;
  height: 49px;
}

.update-status--section .activity--space__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update-status--section .activity--space__list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 138px;
  height: 32px;
  background: #f5f6f7;
  border-radius: 18px;
  padding: 10px 13px 9px 10px;
  padding: 0 10px;
  font-size: 13px;
  font-weight: bold;
  color: #4b4f56;
  margin-right: 6px;
}

.update-status--section .activity--space__list .list__item img {
  padding: 5px 0;
}

.update-status--section .activity--space__list .list__item p {
  margin: 10px 0 0 5px;
}

.update-status--section .activity--space__list .list__item:last-child {
  padding: 7px 10px;
  letter-spacing: 1px;
}

.post--remote ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border-top: 1px solid #dadde1;
}

.post--remote ul .list__item {
  padding: 2px;
  width: 33.3%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  color: #606770;
  font-weight: bold;
}

.post--remote ul .list__item:hover {
  background-color: rgba(29, 33, 41, 0.04);
  border-radius: 2px;
  cursor: pointer;
}

.content {
  position: relative;
  top: 113px;
}

.content .chat--section {
  width: auto;
  height: 250px;
  position: fixed;
  top: calc(100vh - 250px);
  right: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content .chat--tab {
  width: 200px;
  height: 100%;
  background: transparent;
  border: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .chat--tab__header {
  width: 100%;
  height: 25px;
  background: #F5F6F7;
  padding: 5px 10px;
  font-size: 12px;
}

.content .chat--tab__header .active--btn {
  background: #42b72a;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
}

.content .chat--tab__header .hide--btn {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.content .chat--tab__content {
  width: 100%;
  height: calc(100% - 65px);
  background: #ffff;
}

.content .chat--tab__msg {
  width: 100%;
  height: 40px;
  padding: 3px;
  background: #ffff;
}

.content .chat--tab__msg input {
  outline: none;
  margin-top: 5px;
  width: 80%;
  height: 25px;
  border: 1px solid #bec3c9;
  border-radius: 15px;
  font-size: 11px;
  padding: 3px 5px;
}

.content .hide {
  display: none;
}

.aside__right {
  border-left: 1px solid #CCCCCC;
  width: 150px;
  height: calc(100vh - 113px);
  position: fixed;
  top: 113px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside__right__search-box {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__right__search-box .search--icon {
  width: 20px;
  height: 30px;
  padding: 8px 3px;
  background: #F5F6F7;
  font-size: 12px;
  color: #BEC3C8;
}

.aside__right__search-box .search-box__input {
  font-size: 12px;
  border: none;
  background: #F5F6F7;
  outline: none;
}

.aside__right .friend--list {
  width: 100%;
  max-height: calc(100vh - 143px);
  overflow-y: auto;
}

.aside__right .friend--list .list__item {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding: 0 8px;
}

.aside__right .friend--list .list__item:hover {
  background-color: #DDDFE2;
}

.aside__right .friend--list .active--btn {
  background: #42b72a;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-left: 4px;
  width: 6px;
  margin-top: 13px;
}

.condent__main__feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.condent__main__feed .rating--chart {
  border-radius: 5px;
  width: 310px;
  height: 60px;
  background: #ffffff;
  margin-top: 12px;
  border: 1px solid #D9DDE0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
}

.condent__main__feed .rating--chart p {
  margin-left: 5px;
  font-weight: bold;
  font-size: 13px;
}

.condent__main__feed .rating--chart img {
  width: 34px;
  height: 34px;
}

.condent__main__feed .story--space {
  border-radius: 5px;
  margin-top: 12px;
  border: 1px solid #D9DDE0;
  width: 310px;
  height: 235px;
  background: #ffffff;
}

.condent__main__feed .story--space .story {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 150px;
  width: 100%;
  background: #273e6a;
}

.condent__main__feed .story--space p {
  font-size: 17px;
  margin: 15px 0 0 15px;
}

.condent__main__feed .story--space p:last-child {
  font-size: 14px;
  color: #4267b2;
}

.condent__main__feed .community--space {
  border-radius: 5px;
  width: 310px;
  height: 107px;
  background: #ffffff;
  margin-top: 12px;
  padding: 13px 15px;
}

.condent__main__feed .community--space__header h3 {
  font-size: 17px;
  font-weight: bold;
}

.condent__main__feed .community--space__header span {
  font-size: 12px;
  color: #4267b2;
}

.condent__main__feed .community--space p {
  margin-top: 15px;
  font-size: 13px;
}

.condent__main__feed .community--space p i {
  color: #90949c;
}

.post--container {
  width: 500px;
  margin-top: 0;
}
/*# sourceMappingURL=index.css.map */